In [1]:
import pandas

In [6]:
dataset = pandas.read_excel("MoroccoLatLon.xlsx")

In [7]:
dataset

           lat        lon
0    33.599200  -7.620000
1    32.050000  -7.400000
2    34.043300  -5.003300
3    35.776700  -5.803900
4    31.629500  -7.981100
..         ...        ...
224  34.689404  -1.912823
225  31.628674  -7.992047
226  27.125286 -13.162500
227  34.921410  -2.324295
228  33.233334  -8.500000

[229 rows x 2 columns]